<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.gobelieve.im.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <!--高德地图所需权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".IMDemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">


        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Horizontal_Slide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MessageListActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/imkit.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!--高德地图配置-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fe4ad96eb93239914540892d3dfb76f7" />

        <!-- 必需： 应用ID -->
        <meta-data
            android:name="GOBELIEVE_APPID"
            android:value="7" />

        <!-- 必需： 应用KEY -->
        <meta-data
            android:name="GOBELIEVE_APPKEY"
            android:value="sVDIlIiDUm7tWPYWhi6kfNbrqui3ez44" />


        <activity
            android:name="com.beetle.bauhinia.PeerMessageActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/imkit.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.beetle.bauhinia.CustomerMessageActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/imkit.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.beetle.bauhinia.activity.PhotoActivity"
            android:label="照片"
            android:theme="@style/imkit.ActionBar">
        </activity>

        <activity
            android:name="com.beetle.bauhinia.MapActivity"
            android:label="位置"
            android:theme="@style/imkit.ActionBar">
        </activity>
        <activity
            android:name="com.beetle.bauhinia.LocationPickerActivity"
            android:label="位置"
            android:theme="@style/imkit.ActionBar">
        </activity>

        <activity
            android:name="com.beetle.bauhinia.WebActivity"
            android:label=""
            android:theme="@style/imkit.ActionBar">
        </activity>

        <activity
            android:name="com.beetle.bauhinia.gallery.ui.GalleryGridUI"
            android:label="@string/gallery_chat_files"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/imkit.ActionBar">
        </activity>

        <activity
            android:name="com.beetle.bauhinia.gallery.ui.GalleryUI"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/imkit.NoActionBar">
        </activity>


    </application>

</manifest>
